challenge3/submission_template/nodered.txt
[
  {
    "id": "f3c8c0e1b9a2419e",
    "type": "tab",
    "label": "Challenge3 Flow",
    "disabled": false,
    "info": "IoT Challenge #3 - Node-RED + LoRaWAN"
  },
  {
    "id": "e1a2b3c4d5f60718",
    "type": "comment",
    "z": "f3c8c0e1b9a2419e",
    "name": "Init + Load CSV",
    "info": "Resets runtime state, writes CSV headers, then loads challenge3.csv into memory.",
    "x": 160,
    "y": 60,
    "wires": []
  },
  {
    "id": "f1a2b3c4d5e60718",
    "type": "inject",
    "z": "f3c8c0e1b9a2419e",
    "name": "Init once",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "a1b2c3d4e5f60718"
      ]
    ]
  },
  {
    "id": "a1b2c3d4e5f60718",
    "type": "function",
    "z": "f3c8c0e1b9a2419e",
    "name": "Init state + CSV headers",
    "func": "            flow.set(\"done\", false);\n            flow.set(\"subCount\", 0);\n            flow.set(\"idNo\", 0);\n            flow.set(\"filteredNo\", 0);\n            flow.set(\"outgoingCostMap\", {});\n            flow.set(\"csvIndex\", {});\n            flow.set(\"csvModulo\", 5218);\n\n            return [\n              { payload: Date.now() },\n              { payload: \"No.,ID,TIMESTAMP\\n\" },\n              { payload: \"No.,Timestamp,Sequence Number,Attribute,Status,Data Type,Data Value\\n\" },\n              { payload: \"No.,Source,Destination,Cost\\n\" }\n            ];\n            ",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 100,
    "wires": [
      [
        "a2b3c4d5e6f70182"
      ],
      [
        "a3b4c5d6e7f80192"
      ],
      [
        "a4b5c6d7e8f901a2"
      ],
      [
        "a5b6c7d8e9f001b2"
      ]
    ]
  },
  {
    "id": "a2b3c4d5e6f70182",
    "type": "file in",
    "z": "f3c8c0e1b9a2419e",
    "name": "Read challenge3.csv",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/challenge3.csv",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 620,
    "y": 100,
    "wires": [
      [
        "a6b7c8d9e0f102c2"
      ]
    ]
  },
  {
    "id": "a6b7c8d9e0f102c2",
    "type": "csv",
    "z": "f3c8c0e1b9a2419e",
    "name": "CSV to objects",
    "sep": ",",
    "hdrin": true,
    "hdrout": "none",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "skip": "0",
    "strings": true,
    "include_empty_strings": "",
    "include_null_values": "",
    "x": 840,
    "y": 100,
    "wires": [
      [
        "a7b8c9d0e1f203d2"
      ]
    ]
  },
  {
    "id": "a7b8c9d0e1f203d2",
    "type": "function",
    "z": "f3c8c0e1b9a2419e",
    "name": "Index rows by Packet Number",
    "func": "            let rows;\n            let index = flow.get(\"csvIndex\") || {};\n\n            if (Array.isArray(msg.payload)) {\n              rows = msg.payload;\n              index = {};\n            } else {\n              rows = [msg.payload];\n            }\n\n            for (const row of rows) {\n              if (!row) {\n                continue;\n              }\n              const n = Number(row[\"Packet Number\"]);\n              if (Number.isFinite(n)) {\n                index[n] = row;\n              }\n            }\n\n            const count = Object.keys(index).length;\n            flow.set(\"csvIndex\", index);\n            if (count > 0) {\n              flow.set(\"csvModulo\", count);\n            }\n\n            return { payload: `CSV index ready: ${count} rows` };\n            ",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1090,
    "y": 100,
    "wires": [
      [
        "a8b9c0d1e2f304e2"
      ]
    ]
  },
  {
    "id": "a8b9c0d1e2f304e2",
    "type": "debug",
    "z": "f3c8c0e1b9a2419e",
    "name": "CSV loaded",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1310,
    "y": 100,
    "wires": []
  },
  {
    "id": "a3b4c5d6e7f80192",
    "type": "file",
    "z": "f3c8c0e1b9a2419e",
    "name": "Init id_log.csv",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/id_log.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 620,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "a4b5c6d7e8f901a2",
    "type": "file",
    "z": "f3c8c0e1b9a2419e",
    "name": "Init filtered_elems.csv",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/filtered_elems.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 640,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "a5b6c7d8e9f001b2",
    "type": "file",
    "z": "f3c8c0e1b9a2419e",
    "name": "Init outgoing_cost.csv",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/outgoing_cost.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 640,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "f2a3b4c5d6e70819",
    "type": "comment",
    "z": "f3c8c0e1b9a2419e",
    "name": "ID generator + id_log.csv",
    "info": "Publishes 1 JSON message/sec to challenge3/id_generator and logs IDs to CSV.",
    "x": 180,
    "y": 320,
    "wires": []
  },
  {
    "id": "b1c2d3e4f5a60729",
    "type": "inject",
    "z": "f3c8c0e1b9a2419e",
    "name": "Generate each 1s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "b2c3d4e5f6a70839"
      ]
    ]
  },
  {
    "id": "b2c3d4e5f6a70839",
    "type": "function",
    "z": "f3c8c0e1b9a2419e",
    "name": "Generate ID + log line",
    "func": "            if (flow.get(\"done\")) {\n              return [null, null];\n            }\n\n            let no = flow.get(\"idNo\") || 0;\n            no += 1;\n            flow.set(\"idNo\", no);\n\n            const id = Math.floor(Math.random() * 30001);\n            const ts = Math.floor(Date.now() / 1000);\n            const payload = { id, timestamp: ts };\n\n            return [\n              { topic: \"challenge3/id_generator\", payload: JSON.stringify(payload) },\n              { payload: `${no},${id},${ts}\\n` }\n            ];\n            ",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 360,
    "wires": [
      [
        "b3c4d5e6f7a80949"
      ],
      [
        "b4c5d6e7f8a90159"
      ]
    ]
  },
  {
    "id": "b3c4d5e6f7a80949",
    "type": "mqtt out",
    "z": "f3c8c0e1b9a2419e",
    "name": "Publish ID",
    "topic": "challenge3/id_generator",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "a8f2c3d4e5f60718",
    "x": 610,
    "y": 340,
    "wires": []
  },
  {
    "id": "b4c5d6e7f8a90159",
    "type": "file",
    "z": "f3c8c0e1b9a2419e",
    "name": "Append id_log.csv",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/id_log.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 620,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "f3a4b5c6d7e80919",
    "type": "comment",
    "z": "f3c8c0e1b9a2419e",
    "name": "Subscribe + Process 200 IDs",
    "info": "Processes each subscribed ID, computes N=ID mod 5218, handles ZCL/Link Status/Ignore, and finalizes outputs at 200.",
    "x": 190,
    "y": 460,
    "wires": []
  },
  {
    "id": "c1d2e3f4a5b60729",
    "type": "mqtt in",
    "z": "f3c8c0e1b9a2419e",
    "name": "Subscribe ID topic",
    "topic": "challenge3/id_generator",
    "qos": "0",
    "datatype": "auto",
    "broker": "a8f2c3d4e5f60718",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 500,
    "wires": [
      [
        "c2d3e4f5a6b70839"
      ]
    ]
  },
  {
    "id": "c2d3e4f5a6b70839",
    "type": "function",
    "z": "f3c8c0e1b9a2419e",
    "name": "Count <= 200 + compute N",
    "func": "            if (flow.get(\"done\")) {\n              return null;\n            }\n\n            let data = msg.payload;\n            if (typeof data === \"string\") {\n              try {\n                data = JSON.parse(data);\n              } catch (e) {\n                return null;\n              }\n            }\n\n            if (typeof data !== \"object\" || data === null || data.id === undefined) {\n              return null;\n            }\n\n            const id = Number(data.id);\n            if (!Number.isFinite(id)) {\n              return null;\n            }\n\n            let count = flow.get(\"subCount\") || 0;\n            count += 1;\n            flow.set(\"subCount\", count);\n\n            if (count >= 200) {\n              flow.set(\"done\", true);\n            }\n\n            const modulo = Number(flow.get(\"csvModulo\") || 5218);\n            const idInt = Math.trunc(id);\n\n            msg.sub_id = idInt;\n            msg.sub_timestamp = Number.isFinite(Number(data.timestamp))\n              ? Math.trunc(Number(data.timestamp))\n              : Math.floor(Date.now() / 1000);\n            msg.sub_count = count;\n            msg.n = ((idInt % modulo) + modulo) % modulo;\n\n            return msg;\n            ",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 500,
    "wires": [
      [
        "c3d4e5f6a7b80949"
      ]
    ]
  },
  {
    "id": "c3d4e5f6a7b80949",
    "type": "function",
    "z": "f3c8c0e1b9a2419e",
    "name": "Process packet + outputs",
    "func": "            const packetIndex = flow.get(\"csvIndex\");\n            if (!packetIndex || Object.keys(packetIndex).length === 0) {\n              node.warn(\"CSV index not ready yet\");\n              return [null, null, null, null, null, null, null];\n            }\n\n            const packet = packetIndex[msg.n];\n            if (!packet) {\n              return [null, null, null, null, null, null, null];\n            }\n\n            function parseCommand(raw) {\n              const text = String(raw || \"\").trim();\n              if (!text) {\n                return {};\n              }\n              try {\n                return Function(`\"use strict\"; return (${text});`)();\n              } catch (e) {\n                return {};\n              }\n            }\n\n            function toHex(addr) {\n              const text = String(addr || \"\").trim().toLowerCase();\n              if (!text.startsWith(\"0x\")) {\n                return text;\n              }\n              const n = parseInt(text, 16);\n              if (Number.isNaN(n)) {\n                return text;\n              }\n              const digits = n.toString(16);\n              const width = Math.max(4, digits.length);\n              return `0x${digits.padStart(width, \"0\")}`;\n            }\n\n            function cleanLabel(v) {\n              return String(v || \"\")\n                .replace(/\\s*\\(0x[0-9a-fA-F]+\\)\\s*$/, \"\")\n                .trim();\n            }\n\n            function asArray(v) {\n              if (Array.isArray(v)) {\n                return v;\n              }\n              if (v === undefined || v === null || v === \"\") {\n                return [];\n              }\n              return [v];\n            }\n\n            function pickByIndex(arr, i) {\n              if (!arr || arr.length === 0) {\n                return \"\";\n              }\n              if (i < arr.length) {\n                return arr[i];\n              }\n              return arr[arr.length - 1];\n            }\n\n            function normalizeValue(raw) {\n              if (raw === undefined || raw === null) {\n                return \"\";\n              }\n              if (typeof raw === \"number\") {\n                return String(Math.trunc(raw));\n              }\n              const text = String(raw).trim();\n              if (!text) {\n                return \"\";\n              }\n              const intMatch = text.match(/^-?\\d+/);\n              if (intMatch) {\n                return intMatch[0];\n              }\n              const hexOnly = text.match(/^0x([0-9a-fA-F]+)$/);\n              if (hexOnly) {\n                return String(parseInt(hexOnly[1], 16));\n              }\n              return text;\n            }\n\n            function extractValueForType(dtypeRaw, cmdObj, cursors, typeCodeToField) {\n              const dtypeText = String(dtypeRaw || \"\");\n              const codeMatch = dtypeText.match(/\\((0x[0-9a-fA-F]+)\\)/);\n              if (!codeMatch) {\n                return \"\";\n              }\n              const code = codeMatch[1].toLowerCase();\n              const field = typeCodeToField[code];\n              if (!field) {\n                return \"\";\n              }\n              const raw = cmdObj[field];\n              if (Array.isArray(raw)) {\n                const cursor = cursors[field] || 0;\n                const picked = raw.length > 0 ? (cursor < raw.length ? raw[cursor] : raw[raw.length - 1]) : \"\";\n                cursors[field] = cursor + 1;\n                return normalizeValue(picked);\n              }\n              cursors[field] = (cursors[field] || 0) + 1;\n              return normalizeValue(raw);\n            }\n\n            function hexSort(a, b) {\n              return parseInt(a, 16) - parseInt(b, 16);\n            }\n\n            const cmd = parseCommand(packet[\"Command String\"]);\n            const hasZcl = Object.prototype.hasOwnProperty.call(cmd, \"Layer ZBEE_ZCL\");\n            const isLinkStatus = packet[\"Packet Type\"] === \"Link Status (0x08)\";\n\n            let zclMsg = null;\n            let filteredMsgs = [];\n            let currentMsgs = [];\n            let voltageMsgs = [];\n            let outgoingMsgs = [];\n            let thingSpeakMsgs = [];\n            let endMsg = null;\n\n            if (hasZcl) {\n              const publishTs = Math.floor(Date.now() / 1000);\n              const deviceName = String(packet[\"Device Name ZigBee Source\"] || \"unknown\");\n\n              zclMsg = {\n                topic: deviceName,\n                payload: {\n                  timestamp: publishTs,\n                  id: msg.sub_id,\n                  \"wpan.src\": toHex(packet[\"Source Address\"]),\n                  \"wpan.dst\": toHex(packet[\"Destination Address\"]),\n                  \"zbee.src\": toHex(packet[\"Source Address ZigBee\"]),\n                  \"zbee.dst\": toHex(packet[\"Destination Address ZigBee\"]),\n                  topic: `ZigBee/${deviceName}`,\n                  payload: String(packet[\"Command String\"] || \"\")\n                }\n              };\n\n              const attrs = asArray(cmd[\"Attribute\"]);\n              const statuses = asArray(cmd[\"Status\"]);\n              const dataTypes = asArray(cmd[\"Data Type\"]);\n              const sequence = String(cmd[\"Sequence Number\"] || \"\");\n\n              const typeCodeToField = {\n                \"0x10\": \"Boolean\",\n                \"0x18\": \"Bitmap8\",\n                \"0x19\": \"Bitmap16\",\n                \"0x1a\": \"Bitmap24\",\n                \"0x1b\": \"Bitmap32\",\n                \"0x20\": \"Uint8\",\n                \"0x21\": \"Uint16\",\n                \"0x22\": \"Uint24\",\n                \"0x23\": \"Uint32\",\n                \"0x24\": \"Uint40\",\n                \"0x25\": \"Uint48\",\n                \"0x26\": \"Uint56\",\n                \"0x27\": \"Uint64\",\n                \"0x28\": \"Int8\",\n                \"0x29\": \"Int16\",\n                \"0x2a\": \"Int24\",\n                \"0x2b\": \"Int32\",\n                \"0x2c\": \"Int40\",\n                \"0x2d\": \"Int48\",\n                \"0x2e\": \"Int56\",\n                \"0x2f\": \"Int64\",\n                \"0x30\": \"Enum8\",\n                \"0x31\": \"Enum16\"\n              };\n\n              const targetNames = {\n                \"active power\": \"Active Power\",\n                \"rms current\": \"RMS Current\",\n                \"rms voltage\": \"RMS Voltage\"\n              };\n\n              const valueCursors = {};\n              let filteredNo = flow.get(\"filteredNo\") || 0;\n\n              for (let i = 0; i < attrs.length; i += 1) {\n                const attrName = cleanLabel(attrs[i]);\n                const targetLabel = targetNames[attrName.toLowerCase()];\n\n                const dtypeRaw = pickByIndex(dataTypes, i);\n                const statusRaw = pickByIndex(statuses, i);\n                const dtypeClean = cleanLabel(dtypeRaw);\n                const statusClean = cleanLabel(statusRaw);\n                const dataValue = extractValueForType(dtypeRaw, cmd, valueCursors, typeCodeToField);\n\n                if (targetLabel && dtypeClean && dataValue !== \"\") {\n                  filteredNo += 1;\n                  filteredMsgs.push({\n                    payload: `${filteredNo},${publishTs},${sequence},${targetLabel},${statusClean},${dtypeClean},${dataValue}\\n`\n                  });\n\n                  const numMatch = String(dataValue).match(/-?\\d+/);\n                  if (numMatch) {\n                    const n = Number(numMatch[0]);\n                    if (targetLabel === \"RMS Current\") {\n                      currentMsgs.push({ payload: n, topic: \"RMS Current\" });\n                    } else if (targetLabel === \"RMS Voltage\") {\n                      voltageMsgs.push({ payload: n, topic: \"RMS Voltage\" });\n                    }\n                  }\n                }\n              }\n\n              flow.set(\"filteredNo\", filteredNo);\n            }\n\n            if (isLinkStatus) {\n              const outgoing = flow.get(\"outgoingCostMap\") || {};\n              const src = toHex(packet[\"Source Address ZigBee\"]);\n              if (src) {\n                if (!outgoing[src]) {\n                  outgoing[src] = {};\n                }\n                const links = Array.isArray(cmd[\"Links\"]) ? cmd[\"Links\"] : [];\n                for (const link of links) {\n                  if (!link || typeof link !== \"object\") {\n                    continue;\n                  }\n                  const dst = toHex(link[\"Address\"]);\n                  if (!dst) {\n                    continue;\n                  }\n                  outgoing[src][dst] = String(link[\"Outgoing Cost\"] ?? \"\").trim();\n                }\n              }\n              flow.set(\"outgoingCostMap\", outgoing);\n            }\n\n            if (msg.sub_count === 200) {\n              const outgoing = flow.get(\"outgoingCostMap\") || {};\n              const sources = Object.keys(outgoing).sort(hexSort);\n\n              let lineNo = 0;\n              for (const src of sources) {\n                const destinations = Object.keys(outgoing[src]).sort(hexSort);\n                for (const dst of destinations) {\n                  lineNo += 1;\n                  outgoingMsgs.push({\n                    payload: `${lineNo},${src},${dst},${outgoing[src][dst]}\\n`\n                  });\n                }\n              }\n\n              if (sources.length > 0) {\n                const smallest = sources[0];\n                const destinations = Object.keys(outgoing[smallest]).sort(hexSort);\n                for (let i = 0; i < destinations.length; i += 1) {\n                  const dst = destinations[i];\n                  thingSpeakMsgs.push({\n                    payload: {\n                      source: smallest,\n                      destination: dst,\n                      cost: String(outgoing[smallest][dst]),\n                      order: i + 1\n                    }\n                  });\n                }\n              }\n\n              endMsg = {\n                payload: `Stopped at 200 IDs. outgoing_cost rows: ${lineNo}. ThingSpeak queue: ${thingSpeakMsgs.length}.`\n              };\n            }\n\n            return [\n              zclMsg,\n              filteredMsgs.length > 0 ? filteredMsgs : null,\n              currentMsgs.length > 0 ? currentMsgs : null,\n              voltageMsgs.length > 0 ? voltageMsgs : null,\n              outgoingMsgs.length > 0 ? outgoingMsgs : null,\n              thingSpeakMsgs.length > 0 ? thingSpeakMsgs : null,\n              endMsg\n            ];\n            ",
    "outputs": 7,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 500,
    "wires": [
      [
        "c4d5e6f7a8b90159"
      ],
      [
        "c5d6e7f8a9b00169"
      ],
      [
        "c6d7e8f9a0b10279"
      ],
      [
        "c7d8e9f0a1b20389"
      ],
      [
        "c8d9e0f1a2b30499"
      ],
      [
        "c9d0e1f2a3b405a9"
      ],
      [
        "cad1e2f3a4b506b9"
      ]
    ]
  },
  {
    "id": "c4d5e6f7a8b90159",
    "type": "delay",
    "z": "f3c8c0e1b9a2419e",
    "name": "Rate limit 10/min",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "10",
    "nbRateUnits": "1",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 930,
    "y": 440,
    "wires": [
      [
        "cb1e2f3a4b5c06c9"
      ]
    ]
  },
  {
    "id": "cb1e2f3a4b5c06c9",
    "type": "json",
    "z": "f3c8c0e1b9a2419e",
    "name": "Object -> JSON string",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1160,
    "y": 440,
    "wires": [
      [
        "cc1f2a3b4c5d07d9"
      ]
    ]
  },
  {
    "id": "cc1f2a3b4c5d07d9",
    "type": "mqtt out",
    "z": "f3c8c0e1b9a2419e",
    "name": "Publish ZCL payload",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "a8f2c3d4e5f60718",
    "x": 1370,
    "y": 440,
    "wires": []
  },
  {
    "id": "c5d6e7f8a9b00169",
    "type": "file",
    "z": "f3c8c0e1b9a2419e",
    "name": "Append filtered_elems.csv",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/filtered_elems.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 980,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "c6d7e8f9a0b10279",
    "type": "ui_chart",
    "z": "f3c8c0e1b9a2419e",
    "name": "RMS Current chart",
    "group": "c1d2e3f4a5b60718",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "RMS Current",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e"
    ],
    "outputs": 0,
    "useDifferentColor": false,
    "className": "",
    "x": 960,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "c7d8e9f0a1b20389",
    "type": "ui_chart",
    "z": "f3c8c0e1b9a2419e",
    "name": "RMS Voltage chart",
    "group": "c1d2e3f4a5b60718",
    "order": 2,
    "width": 12,
    "height": 6,
    "label": "RMS Voltage",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#d62728",
      "#ff9896",
      "#9467bd"
    ],
    "outputs": 0,
    "useDifferentColor": false,
    "className": "",
    "x": 960,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "c8d9e0f1a2b30499",
    "type": "file",
    "z": "f3c8c0e1b9a2419e",
    "name": "Write outgoing_cost.csv (final)",
    "filename": "/home/pitesse/Desktop/IoT/challenge3/outgoing_cost.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 980,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "c9d0e1f2a3b405a9",
    "type": "delay",
    "z": "f3c8c0e1b9a2419e",
    "name": "ThingSpeak pace 1/20s",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "20",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 950,
    "y": 740,
    "wires": [
      [
        "cd102a3b4c5d08e9"
      ]
    ]
  },
  {
    "id": "cd102a3b4c5d08e9",
    "type": "function",
    "z": "f3c8c0e1b9a2419e",
    "name": "Build ThingSpeak HTTP",
    "func": "            const apiKey = flow.get(\"thingspeak_write_api_key\") || env.get(\"THINGSPEAK_WRITE_API_KEY\");\n            if (!apiKey) {\n              node.warn(\"ThingSpeak key missing. Set flow.thingspeak_write_api_key or THINGSPEAK_WRITE_API_KEY.\");\n              return null;\n            }\n\n            const cost = msg.payload && msg.payload.cost !== undefined ? msg.payload.cost : \"\";\n            msg.method = \"GET\";\n            msg.url = `https://api.thingspeak.com/update?api_key=${encodeURIComponent(apiKey)}&field1=${encodeURIComponent(cost)}`;\n            msg.payload = \"\";\n            return msg;\n            ",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1180,
    "y": 740,
    "wires": [
      [
        "ce203a4b5c6d09f9"
      ]
    ]
  },
  {
    "id": "ce203a4b5c6d09f9",
    "type": "http request",
    "z": "f3c8c0e1b9a2419e",
    "name": "ThingSpeak update",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1390,
    "y": 740,
    "wires": [
      [
        "cf304a5b6c7d10a9"
      ]
    ]
  },
  {
    "id": "cf304a5b6c7d10a9",
    "type": "debug",
    "z": "f3c8c0e1b9a2419e",
    "name": "ThingSpeak response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1620,
    "y": 740,
    "wires": []
  },
  {
    "id": "cad1e2f3a4b506b9",
    "type": "debug",
    "z": "f3c8c0e1b9a2419e",
    "name": "Execution end",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 940,
    "y": 800,
    "wires": []
  },
  {
    "id": "a8f2c3d4e5f60718",
    "type": "mqtt-broker",
    "name": "Local Mosquitto 1884",
    "broker": "localhost",
    "port": "1884",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "b1c2d3e4f5a60718",
    "type": "ui_tab",
    "name": "Challenge3",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "c1d2e3f4a5b60718",
    "type": "ui_group",
    "name": "RMS Charts",
    "tab": "b1c2d3e4f5a60718",
    "order": 1,
    "disp": true,
    "width": "24",
    "collapse": false,
    "className": ""
  }
]